<div class="d-flex" id="wrapper">
  <!-- Sidebar-->

  <!-- Mettre un div avec l'id page-content-wrapper pour que la page s'adapte à la sidebar-->
  <div id="page-content-wrapper">
      <!-- Top navigation-->
      <div class="content">
      <app-logo></app-logo>
      <!-- Page content-->
      <br>
      <h1>Ma collection</h1>
      <br>
      <h2>Pokémon</h2>
      <collek type="pokemon"></collek>
      <br>
      <h2>Objet</h2>
      <collek type="objet"></collek>
      <br>
      <h2>Capacité</h2>
      <collek type="capacite"></collek>
      <br>
      <h2>Lieu</h2>
      <collek type="lieu"></collek>
    </div>
  </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<router-outlet />
