<div *ngIf="pokemon" class="pokemon-container">
    <div class="pokemon-name">{{ pokemon.name }}</div>
    <div *ngFor="let type of pokemon.types" class="pokemon-type">{{ type.type.name }}</div>
    <img [src]="pokemon.sprites.front_default" alt="Pokemon Sprite" class="pokemon-image">
  </div>
  
  <div *ngIf="showResult" class="result-container">
    <p *ngIf="correctGuess; else wrongGuess">Bravo! Vous avez deviné le Pokémon correctement!</p>
    <ng-template #wrongGuess>
      <p>Oups! Mauvaise devinette! Le Pokémon correct est {{ pokemon.name }}</p>
    </ng-template>
  </div>
  
  <input type="text" [(ngModel)]="guessedPokemonName" placeholder="Entrez le nom du Pokémon" class="guess-input">
  <button (click)="checkGuess()" class="guess-button">Devinez</button>
