<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
  
    <!-- Mettre un div avec l'id page-content-wrapper pour que la page s'adapte à la sidebar-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        
        <app-logo></app-logo>
        <!-- Page content-->
        <div class="container-fluid">
            <div class="content">
                <br>
            <app-sidebar></app-sidebar>
  
            <br><br>
            <p>Devinez le lieu !</p>
            <app-ligne-de-reponse (poke)="search($event)"></app-ligne-de-reponse>
                
            <div *ngIf="gagne">
                <p>Vous avez deviné !!</p>
            </div>
            <div *ngIf="perdu">
                <p>Vous avez perdu... <br>Le lieu était {{toFind}}.</p>
            </div>
            <div *ngIf="!perdu && !gagne">
                <p>Il vous reste {{30 - nbGuess}} essais.</p>
            </div>
            <br><br>
    
            <table>
                <th>Lieu</th>
                <th>Région </th>
                <th>Type</th>
                <th>Pokémon trouvable</th>
                <th>Méthode de rencontre</th>
            </table>
            <div *ngFor="let id of listeId">
                <app-tab-reponse typedonnees="lieu" pokemonid={{id}} ></app-tab-reponse>
            </div>
            <br><br><br><br><br><br><br><br><br></div>
        </div>
    </div>
  </div>
  
  <router-outlet />
  