<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
  
    <!-- Mettre un div avec l'id page-content-wrapper pour que la page s'adapte à la sidebar-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        
        <button class="btn btn-primary" id="buttonApi" onClick="call()">Call API</button>
        <app-logo></app-logo>
        <!-- Page content-->
        <div class="container-fluid">
            <!--Différents id pour les récupérer dans le fichier scripts.js-->
            <h1 id="Nom"></h1>
            <p id="Types"></p>
            <p id="Talents"></p>
            <img id="Sprite" src="" alt="Sprite de ">
  
            <app-sidebar></app-sidebar>
  
            <br><br>
            <p>Devinez la capacité !</p>
            <app-ligne-de-reponse (poke)="search($event)"></app-ligne-de-reponse>
            <br><br>
    
            <table>
                <th>Capacité</th>
                <th>Type </th>
                <th>Catégorie</th>
                <th>Précision</th>
                <th>Pouvoir</th>
                <th>Concours</th>
                <th>Génération</th>
                <th>PP</th>
            </table>
            <app-tab-reponse pokemonid="1" ></app-tab-reponse>
            <br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>
  </div>
  
  <router-outlet />
  