<div id="page-content-wrapper">
    <!-- Top navigation-->
    <div class="container-fluid">
    <app-logo></app-logo><br>
    
    
      <div class="content">
      <!-- Menu horizontal -->
      
      <app-sidebar></app-sidebar>
      <br>
      <br>

      <!-- Carte des instructions du jeu -->
        <h1>Règles du jeu</h1>

        <br>
        <h2>Instructions du jeu</h2>
        <p>
            Le but du jeu est de deviner un Pokémon, un objet ou une capacité compris entre la première génération et la neuvième génération. 
            <br><br>
            À chaque essai, il vous est indiqué des informations sur ce que vous cherchez par rapport à votre entrée. Par exemple, si le Pokémon que vous chercher est plus lourd ou pas que celui que devez deviner. Le nombre d'essais varie pour chaque catégorie.
            <br><br>
            Les couleurs des cases vous donnent des indices également :
            <br>
        </p>
        <ul>
                <li class="vert">Vert : l'information est juste. Ce que vous avez entré et ce que vous cherchez partagent cette information. </li>
                <li class="orange">Orange : l'information est partiellement juste.
                <li class="rouge">Rouge : l'information est incorrecte. </li>
        </ul>

        <br>
        <p style="text-align: center;">
            Supposons que le Pokémon que vous cherchez est Reptincel.
        </p>
        <table>
            <th>
                Si vous entrez Salamèche, la colonne Types s'affichera en vert : ils ont le même type.<br><br>
                <img src="../../assets/Vert.png" alt="bonne réponse : vert">
            </th>
            <th>
                Si vous entrez Dracaufeu, la colonne Types s'affichera en orange : ils ont un type en commun, mais l'autre est faux.<br><br>
                <img src="../../assets/Orange.png" alt="réponse partiellement bonne : orange">
            </th>
            <th>
                Si vous entrez Bulbizarre, la colonne Types s'affichera en rouge : aucun type de Bulbizarre et en commun avec ceux de Reptincel.<br>
                <img src="../../assets/Rouge.png" alt="mauvaise réponse : rouge">
            </th>
        </table>
        
        
        <br>
        <h3>Devinez un Pokémon</h3>
        <p>
            Le but du jeu est de deviner un Pokémon, un objet ou une capacité compris entre la première génération et la neuvième génération.
            Vous pouvez entrer le nom du Pokémon en français (sans oublier les accents) ou son numéro dans le Pokédex.
        </p>
        <ul>
            <li>Les Méga-Évolutions ne sont pas incluses, ainsi que les formes régionales.</li>
            <li>Deux Pokémons simple type ont un type en commun : le type "inexistant". Par exemple, si vous devez trouver Salamèche et que vous rentrez Carapuce, on vous indiquera un type en commun.</li>
        </ul>
        
        <br>
        <h3>Devinez un objet</h3>
        <p>Les matériaux en 9G, les CT/CS, les ingrédients, les décorations de pique-nique, les cristaux Dynamax, les objets inutilisables et objets qui font avancer les histoires des jeux ont été retirés. Seuls les noms en anglais sont disponibles.
        </p>

        <br>
        <h3>Devinez une capacité</h3>
        <p>Toutes les capacités sont présentes. Seuls les noms anglais fonctionnent. </p>

        <br>
        <h3>Devinez un lieu</h3>
        <p>Non jouable</p>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    </div>

</div>