

<div [ngSwitch]="type">
    <div *ngSwitchCase="'Spectre'">
        <span class="badge d-flex align-items-center p-1 pe-2 text-spectre-emphasis bg-spectre-subtle border border-spectre-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="../assets/spectre.png" alt="">Spectre
        </span>
    </div>

    <div *ngSwitchCase="'Acier'">
        <span class="badge d-flex align-items-center p-1 pe-2 text-acier-emphasis bg-acier-subtle border border-acier-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="../assets/acier.png" alt="">Acier
        </span>
    </div>

    <div *ngSwitchCase="'Poison'">
        <span class="badge d-flex align-items-center p-1 pe-2 text-poison-emphasis bg-poison-subtle border border-poison-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="../assets/poison.png" alt="">Poison
        </span>
    </div>

    <div *ngSwitchCase="'Feu'">
        <span class="badge d-flex align-items-center p-1 pe-2 text-feu-emphasis bg-feu-subtle border border-feu-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="../assets/feu.png" alt="">Feu
        </span>
    </div>

    <div *ngSwitchCase="'Eau'">
        <span class="badge d-flex align-items-center p-1 pe-2 text-eau-emphasis bg-eau-subtle border border-eau-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="../assets/eau.png" alt="">Eau
        </span>
    </div>

    <div *ngSwitchCase="'Plante'">
        <span class="badge d-flex align-items-center p-1 pe-2 text-plante-emphasis bg-plante-subtle border border-plante-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="../assets/plante.png" alt="">Plante
        </span>
    </div>

    <div *ngSwitchCase="'Électrik'">
        <span class="badge d-flex align-items-center p-1 pe-2 text-electrik-emphasis bg-electrik-subtle border border-electrik-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="../assets/electrik.png" alt="">Électrik
        </span>
    </div>

    <div *ngSwitchCase="'Normal'">
        <span class="badge d-flex align-items-center p-1 pe-2 text-normal-emphasis bg-normal-subtle border border-normal-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="../assets/normal.png" alt="">Normal
        </span>
    </div>

    <div *ngSwitchCase="'Combat'">
        <span class="badge d-flex align-items-center p-1 pe-2 text-combat-emphasis bg-combat-subtle border border-combat-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="../assets/combat.png" alt="">Combat
        </span>
    </div>

    <div *ngSwitchCase="'Psy'">
        <span class="badge d-flex align-items-center p-1 pe-2 text-psy-emphasis bg-psy-subtle border border-psy-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="../assets/psy.png" alt="">Psy
        </span>
    </div>

    <div *ngSwitchCase="'Roche'">
        <span class="badge d-flex align-items-center p-1 pe-2 text-roche-emphasis bg-roche-subtle border border-roche-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="../assets/roche.png" alt="">Roche
        </span>
    </div>

    <div *ngSwitchCase="'Sol'">
        <span class="badge d-flex align-items-center p-1 pe-2 text-sol-emphasis bg-sol-subtle border border-sol-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="../assets/sol.png" alt="">Sol
        </span>
    </div>

    <div *ngSwitchCase="'Ténèbres'">
        <span class="badge d-flex align-items-center p-1 pe-2 text-tenebres-emphasis bg-tenebres-subtle border border-tenebres-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="../assets/tenebres.png" alt="">Ténèbres
        </span>
    </div>

    <div *ngSwitchCase="'Glace'">
        <span class="badge d-flex align-items-center p-1 pe-2 text-glace-emphasis bg-glace-subtle border border-glace-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="../assets/glace.png" alt="">Glace
        </span>
    </div>

    <div *ngSwitchCase="'Insecte'">
        <span class="badge d-flex align-items-center p-1 pe-2 text-insecte-emphasis bg-insecte-subtle border border-insecte-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="../assets/insecte.png" alt="">Insecte
        </span>
    </div>

    <div *ngSwitchCase="'Vol'">
        <span class="badge d-flex align-items-center p-1 pe-2 text-vol-emphasis bg-vol-subtle border border-vol-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="../assets/vol.png" alt="">Vol
        </span>
    </div>

    <div *ngSwitchCase="'Dragon'">
        <span class="badge d-flex align-items-center p-1 pe-2 text-dragon-emphasis bg-dragon-subtle border border-dragon-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="../assets/dragon.png" alt="">Dragon
        </span>
    </div>

    <div *ngSwitchCase="'Fée'">
        <span class="badge d-flex align-items-center p-1 pe-2 text-fee-emphasis bg-fee-subtle border border-fee-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="../assets/fee.png" alt="">Fée
        </span>
    </div>

  <div *ngSwitchCase="'cool'">
        <span class="badge d-flex align-items-center p-1 pe-2 text-s-froid-emphasis bg-s-froid-subtle border border-s-froid-subtle rounded-pill">
            Sang-froid
        </span>
  </div>

  <div *ngSwitchCase="'beauty'">
        <span class="badge d-flex align-items-center p-1 pe-2 text-beaute-emphasis bg-beaute-subtle border border-beaute-subtle rounded-pill">
            Beauté
        </span>
  </div>

  <div *ngSwitchCase="'cute'">
        <span class="badge d-flex align-items-center p-1 pe-2 text-grace-emphasis bg-grace-subtle border border-grace-subtle rounded-pill">
            Grâce
        </span>
  </div>

  <div *ngSwitchCase="'smart'">
        <span class="badge d-flex align-items-center p-1 pe-2 text-intell-emphasis bg-intell-subtle border border-intell-subtle rounded-pill">
            Intelligence
        </span>
  </div>

  <div *ngSwitchCase="'tough'">
        <span class="badge d-flex align-items-center p-1 pe-2 text-robust-emphasis bg-robust-subtle border border-robust-subtle rounded-pill">
            Robustesse
        </span>
  </div>

  <div *ngSwitchCase="'physical'">
        <span class="badge d-flex align-items-center p-1 pe-2 text-physique-emphasis bg-physique-subtle border border-physique-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="../assets/physique.png" alt="">Physique
        </span>
  </div>

  <div *ngSwitchCase="'special'">
        <span class="badge d-flex align-items-center p-1 pe-2 text-special-emphasis bg-special-subtle border border-special-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="../assets/special.png" alt="">Special
        </span>
  </div>

  <div *ngSwitchCase="'status'">
        <span class="badge d-flex align-items-center p-1 pe-2 text-statut-emphasis bg-statut-subtle border border-statut-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="../assets/statut.png" alt="">Statut
        </span>
  </div>

    <div *ngSwitchDefault> </div>
</div>
