

<div [ngSwitch]="type">
    <div *ngSwitchCase="'spectre'">
        <span class="badge d-flex align-items-center p-1 pe-2 text-spectre-emphasis bg-spectre-subtle border border-spectre-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="../assets/spectre.png" alt="">Spectre
        </span>
    </div>

    <div *ngSwitchCase="'acier'">
        <span class="badge d-flex align-items-center p-1 pe-2 text-acier-emphasis bg-acier-subtle border border-acier-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="../assets/acier.png" alt="">Acier
        </span>
    </div>

    <div *ngSwitchCase="'poison'">
        <span class="badge d-flex align-items-center p-1 pe-2 text-poison-emphasis bg-poison-subtle border border-poison-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="../assets/poison.png" alt="">Poison
        </span>
    </div>

    <div *ngSwitchCase="'feu'">
        <span class="badge d-flex align-items-center p-1 pe-2 text-feu-emphasis bg-feu-subtle border border-feu-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="../assets/feu.png" alt="">Feu
        </span>
    </div>

    <div *ngSwitchCase="'eau'">
        <span class="badge d-flex align-items-center p-1 pe-2 text-eau-emphasis bg-eau-subtle border border-eau-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="../assets/eau.png" alt="">Eau
        </span>
    </div>

    <div *ngSwitchCase="'plante'">
        <span class="badge d-flex align-items-center p-1 pe-2 text-plante-emphasis bg-plante-subtle border border-plante-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="../assets/plante.png" alt="">Plante
        </span>
    </div>

    <div *ngSwitchCase="'electrik'">
        <span class="badge d-flex align-items-center p-1 pe-2 text-electrik-emphasis bg-electrik-subtle border border-electrik-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="../assets/electrik.png" alt="">Electrik
        </span>
    </div>

    <div *ngSwitchCase="'normal'">
        <span class="badge d-flex align-items-center p-1 pe-2 text-normal-emphasis bg-normal-subtle border border-normal-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="../assets/normal.png" alt="">Normal
        </span>
    </div>

    <div *ngSwitchCase="'combat'">
        <span class="badge d-flex align-items-center p-1 pe-2 text-combat-emphasis bg-combat-subtle border border-combat-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="../assets/combat.png" alt="">Combat
        </span>
    </div>

    <div *ngSwitchCase="'psy'">
        <span class="badge d-flex align-items-center p-1 pe-2 text-psy-emphasis bg-psy-subtle border border-psy-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="../assets/psy.png" alt="">Psy
        </span>
    </div>

    <div *ngSwitchCase="'roche'">
        <span class="badge d-flex align-items-center p-1 pe-2 text-roche-emphasis bg-roche-subtle border border-roche-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="../assets/roche.png" alt="">Roche
        </span>
    </div>

    <div *ngSwitchCase="'sol'">
        <span class="badge d-flex align-items-center p-1 pe-2 text-sol-emphasis bg-sol-subtle border border-sol-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="../assets/sol.png" alt="">Sol
        </span>
    </div>

    <div *ngSwitchCase="'tenebres'">
        <span class="badge d-flex align-items-center p-1 pe-2 text-tenebres-emphasis bg-tenebres-subtle border border-tenebres-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="../assets/tenebres.png" alt="">Tenebres
        </span>
    </div>

    <div *ngSwitchCase="'glace'">
        <span class="badge d-flex align-items-center p-1 pe-2 text-glace-emphasis bg-glace-subtle border border-glace-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="../assets/glace.png" alt="">Glace
        </span>
    </div>

    <div *ngSwitchCase="'insecte'">
        <span class="badge d-flex align-items-center p-1 pe-2 text-insecte-emphasis bg-insecte-subtle border border-insecte-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="../assets/insecte.png" alt="">Insecte
        </span>
    </div>

    <div *ngSwitchCase="'vol'">
        <span class="badge d-flex align-items-center p-1 pe-2 text-vol-emphasis bg-vol-subtle border border-vol-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="../assets/vol.png" alt="">Vol
        </span>
    </div>

    <div *ngSwitchCase="'dragon'">
        <span class="badge d-flex align-items-center p-1 pe-2 text-dragon-emphasis bg-dragon-subtle border border-dragon-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="../assets/dragon.png" alt="">Dragon
        </span>
    </div>

    <div *ngSwitchCase="'fee'">
        <span class="badge d-flex align-items-center p-1 pe-2 text-fee-emphasis bg-fee-subtle border border-fee-subtle rounded-pill">
            <img class="rounded-circle me-1" width="24" height="24" src="../assets/fee.png" alt="">Fée
        </span>
    </div>

    <div *ngSwitchDefault>Badge avec type inexistant</div>
</div>
