.green-square {
    display: inline-block;
    border:1px solid #191919; 
    height: 50px; /*sets height of element*/
    background: #9FDA96; /*sets the background of this element (here a solid colour)*/
    line-height: 50px; /*for this, it sets vertical alignment*/
    width : 14% ;
    min-width: 120px;
    text-align: center;
}

.red-square {
    display: inline-block;
    border:1px solid #191919; 
    height: 50px; /*sets height of element*/
    background: #E94B4D; /*sets the background of this element (here a solid colour)*/
    line-height: 50px; /*for this, it sets vertical alignment*/
    width : 14% ;
    min-width: 120px;
    text-align: center;
}

.orange-square {
    display: inline-block;
    border:1px solid #191919; 
    height: 50px; /*sets height of element*/
    background: #FF9557; /*sets the background of this element (here a solid colour)*/
    line-height: 50px; /*for this, it sets vertical alignment*/
    width : 14% ;
    min-width: 120px;
    text-align: center;
}

.ligne{
    width : 100% ;
    min-width: 500px;
    max-height: 60px;
    overflow: hidden;
}

table {
    width : 100% ;
    color : #FFDF81 ;
    text-align: center;
}

th{
    width : 13% ;
    min-width: 120px;
    text-align: center;
}