<table>
    <th><app-greensquare couleur="vert" colonne="pokemon"></app-greensquare></th>
    <th><app-greensquare couleur="vert" colonne="types"></app-greensquare></th>
    <th><app-greensquare couleur="orange" colonne="gen"></app-greensquare></th>
    <th><app-greensquare couleur="rouge" colonne="stade"></app-greensquare></th>
    <th><app-greensquare couleur="vert" colonne="talent"></app-greensquare></th>
    <th><app-greensquare couleur="vert" colonne="taille"></app-greensquare></th>
    <th><app-greensquare couleur="vert" colonne="poids"></app-greensquare></th>
</table>