
p {
  margin: 10;
  color: var(--gray-700);
  color: #FFDF81 ;
  margin-left: auto;
  margin-right: auto;
  width : 12em;
}

body {
  background-color: #191919;
}

table {
  width : 100% ;
  color : #FFDF81 ;
  text-align: center;
}

th{
  width : 13% ;
  min-width: 120px;
  text-align: center;
}