<div class="wrapper" [ngClass]="settingService.theme === 'light' ? 'light-theme' : 'dark-theme'">
  <div id="page-content-wrapper">
    <div class="site-wrapper sidebar">
      <app-navbar></app-navbar>
    </div>
    <div class="container content">
      <button (click)="navigateTo('login')" class="button">
       
      </button>
      <button (click)="navigateTo('settings-page')" class="button1">
     
      </button>
    </div>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
