<div class="d-flex" id="wrapper">
  <!-- Sidebar-->
  <app-sidebar></app-sidebar>
  <!-- Mettre un div avec l'id page-content-wrapper pour que la page s'adapte à la sidebar-->
  <div id="page-content-wrapper">
      <!-- Top navigation-->
      <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>
      <button class="btn btn-primary" id="buttonApi" onClick="call()">Call API</button>
      <app-logo></app-logo>
      <!-- Page content-->
      <div class="container-fluid">
          <!--Différents id pour les récupérer dans le fichier scripts.js-->
          <h1 id="Nom"></h1>
          <p id="Types"></p>
          <p id="Talents"></p>
          <img id="Sprite" src="" alt="Sprite de ">
          
          <br><br>
          <p>Devinez le Pokémon !</p>
          <app-ligne-de-reponse></app-ligne-de-reponse>
          <br><br>
          <table>
            <th>Pokémon </th>
            <th>Types</th>
            <th>Génération</th>
            <th>Stade d'évolution</th>
            <th>Talents</th>
            <th>Taille</th>
            <th>Poids</th>
        </table>
        

        <table>
          <th><app-greensquare couleur="vert" >Dracaufeu</app-greensquare></th>
          <th><app-greensquare couleur="vert" ><badge type="spectre"></badge><badge type="acier"></badge></app-greensquare></th>
          <th><app-greensquare couleur="orange">Dracaufeu</app-greensquare></th>
          <th><app-greensquare couleur="rouge" >Dracaufeu</app-greensquare></th>
          <th><app-greensquare couleur="vert" >Dracaufeu</app-greensquare></th>
          <th><app-greensquare couleur="vert" >Dracaufeu</app-greensquare></th>
          <th><app-greensquare couleur="vert" >Dracaufeu</app-greensquare></th>
      </table>

          
      </div>
  </div>
</div>

<router-outlet />
