<table>
<div [ngSwitch]="colonne">

        <div *ngSwitchCase="'pokemon'">

            <div [ngSwitch]="couleur">
                <div *ngSwitchCase="'vert'">
                    <th class= green-square id="pkmn">{{ pokemon.name }}<br><img src='{{ pokemon.image }}' alt="Pokemon"></th>
                </div> 
                <div *ngSwitchCase="'orange'">
                    <th class= orange-square id="pkmn">{{ pokemon.name }}<br><img src='{{ pokemon.image }}' alt="Pokemon"></th>
                </div>
                <div *ngSwitchCase="'rouge'">
                    <th class= red-square id="pkmn">{{ pokemon.name }}<br><img src='{{ pokemon.image }}' alt="Pokemon"></th>
                </div>
                <div *ngSwitchCaseDefault>erreur affichage carré</div>
            </div>


        </div> 

        <div *ngSwitchCase="'types'">

            <div [ngSwitch]="couleur">
                <div *ngSwitchCase="'vert'">
                    <th class= green-square><badge type='{{pokemon.type1}}'></badge><br><badge type='{{pokemon.type2}}'></badge></th>
                </div>
                <div *ngSwitchCase="'orange'">
                    <th class= orange-square><badge type='{{pokemon.type1}}'></badge><br><badge type='{{pokemon.type2}}'></badge></th>
                </div>
                <div *ngSwitchCase="'rouge'">
                    <th class= red-square><badge type='{{pokemon.type1}}'></badge><br><badge type='{{pokemon.type2}}'></badge></th>
                </div>
                <div *ngSwitchCaseDefault>erreur affichage carré</div>
            </div>   

        </div>

        <div *ngSwitchCase="'gen'">

            <div [ngSwitch]="couleur">
                <div *ngSwitchCase="'vert'">
                    <th class= green-square>{{pokemon.gen}}</th>
                </div>
                <div *ngSwitchCase="'orange'">
                    <th class= orange-square>{{pokemon.gen}}</th>
                </div>
                <div *ngSwitchCase="'rouge'">
                    <th class= red-square>{{pokemon.gen}}</th>
                </div>
                <div *ngSwitchCaseDefault>erreur affichage carré</div>
            </div>   

        </div>

        <div *ngSwitchCase="'stade'">

            <div [ngSwitch]="couleur">
                <div *ngSwitchCase="'vert'">
                    <th class= green-square>{{pokemon.stade}}</th>
                </div>
                <div *ngSwitchCase="'orange'">
                    <th class= orange-square>{{pokemon.stade}}</th>
                </div>
                <div *ngSwitchCase="'rouge'">
                    <th class= red-square>{{pokemon.stade}}</th>
                </div>
                <div *ngSwitchCaseDefault>erreur affichage carré</div>
            </div>   

        </div>
 
        <div *ngSwitchCase="'talent'">

            <div [ngSwitch]="couleur">
                <div *ngSwitchCase="'vert'">
                    <th class= green-square><ul *ngFor = "let t of pokemon.talent">{{t}}</ul></th>
                </div>
                <div *ngSwitchCase="'orange'">
                    <th class= orange-square><ul *ngFor = "let t of pokemon.talent">{{t}}</ul></th>
                </div>
                <div *ngSwitchCase="'rouge'">
                    <th class= red-square><ul *ngFor = "let t of pokemon.talent">{{t}}</ul></th>
                </div>
                <div *ngSwitchCaseDefault>erreur affichage carré</div>
            </div>   

        </div>

        <div *ngSwitchCase="'taille'">

            <div [ngSwitch]="couleur">
                <div *ngSwitchCase="'vert'">
                    <th class= green-square>{{pokemon.taille}}</th>
                </div>
                <div *ngSwitchCase="'orange'">
                    <th class= orange-square>{{pokemon.taille}}</th>
                </div>
                <div *ngSwitchCase="'rouge'">
                    <th class= red-square>{{pokemon.taille}}</th>
                </div>
                <div *ngSwitchCaseDefault>erreur affichage carré</div>
            </div>   

        </div>

        <div *ngSwitchCase="'poids'">

            <div [ngSwitch]="couleur">
                <div *ngSwitchCase="'vert'">
                    <th class= green-square>{{pokemon.poids}}</th>
                </div>
                <div *ngSwitchCase="'orange'">
                    <th class= orange-square>{{pokemon.poids}}</th>
                </div>
                <div *ngSwitchCase="'rouge'">
                    <th class= red-square>{{pokemon.poids}}</th>
                </div>
                <div *ngSwitchCaseDefault>erreur affichage carré</div>
            </div>   

        </div>

    <div *ngSwitchCaseDefault>erreur affichage colonne</div>
</div>


</table>



