.green-square {
    display: inline-block;
    border:1px solid #191919;
    color: #191919;
    background: #9fda96; /*sets the background of this element (here a solid colour)*/
    min-height: 120px; /*sets height of element*/
    width : 100% ;
}

.red-square {
    display: inline-block;
    border:1px solid #191919;
    color: #191919;
    min-height: 120px; /*sets height of element*/
    background: #E94B4D; /*sets the background of this element (here a solid colour)*/
    width : 100% ;

}

.orange-square {
    display: inline-block;
    border:1px solid #191919;
    color: #191919;
    min-height: 120px; /*sets height of element*/
    background: #FF9557; /*sets the background of this element (here a solid colour)*/
    width : 100% ;
}

#pkmn img {
    padding: 20px;
    margin-top: -30px;
    max-width: 100%;
}

#pkmn p {
    margin-top: 0px;
    min-width: 120px;
    text-align: center;
    
}

ul {
    color: #191919;
}

#type .badge {
    width: 100%;
    margin-top: -100px;
}