<div [ngSwitch]="colonne">

    <div *ngSwitchCase="'pokemon'">

        <div [ngSwitch]="couleur">
            <div *ngSwitchCase="'vert'" id="pkmn">
                <p class= green-square>{{ pokemon.name }}<br><img src='{{ pokemon.image }}' alt="Pokemon"></p>
            </div>
            <div *ngSwitchCase="'orange'">
                <p class= orange-square>{{ pokemon.name }}<br><img src='{{ pokemon.image }}' alt="Pokemon"></p>
            </div>
            <div *ngSwitchCase="'rouge'">
                <p class= red-square >{{ pokemon.name }}<br><img src='{{ pokemon.image }}' alt="Pokemon"></p>
            </div>
            <div *ngSwitchCaseDefault>erreur affichage carré</div>
        </div>   

    </div>

    <div *ngSwitchCase="'types'">

        <div [ngSwitch]="couleur">
            <div *ngSwitchCase="'vert'" id="type">
                <p class= green-square><div class="badge"><badge type='{{pokemon.type1}}'></badge><badge type='{{pokemon.type2}}'></badge></div>
            </div>
            <div *ngSwitchCase="'orange'">
                <p class= orange-square><badge class="badge" type='{{pokemon.type1}}'></badge><br><badge type='{{pokemon.type2}}'></badge></p>
            </div>
            <div *ngSwitchCase="'rouge'">
                <p class= red-square><badge class="badge" type='{{pokemon.type1}}'></badge><br><badge type='{{pokemon.type2}}'></badge></p>
            </div>
            <div *ngSwitchCaseDefault>erreur affichage carré</div>
        </div>   

    </div>

    <div *ngSwitchCase="'gen'">

        <div [ngSwitch]="couleur">
            <div *ngSwitchCase="'vert'">
                <p class= green-square>{{pokemon.gen}}</p>
            </div>
            <div *ngSwitchCase="'orange'">
                <p class= orange-square>{{pokemon.gen}}</p>
            </div>
            <div *ngSwitchCase="'rouge'">
                <p class= red-square>{{pokemon.gen}}</p>
            </div>
            <div *ngSwitchCaseDefault>erreur affichage carré</div>
        </div>   

    </div>

    <div *ngSwitchCase="'stade'">

        <div [ngSwitch]="couleur">
            <div *ngSwitchCase="'vert'">
                <p class= green-square>{{pokemon.stade}}</p>
            </div>
            <div *ngSwitchCase="'orange'">
                <p class= orange-square>{{pokemon.stade}}</p>
            </div>
            <div *ngSwitchCase="'rouge'">
                <p class= red-square>{{pokemon.stade}}</p>
            </div>
            <div *ngSwitchCaseDefault>erreur affichage carré</div>
        </div>   

    </div>

    <div *ngSwitchCase="'talent'">

        <div [ngSwitch]="couleur">
            <div *ngSwitchCase="'vert'">
                <p class= green-square><ul *ngFor = "let t of pokemon.talent">{{t}}</ul>
            </div>
            <div *ngSwitchCase="'orange'">
                <p class= orange-square><ul *ngFor = "let t of pokemon.talent">{{t}}</ul>
            </div>
            <div *ngSwitchCase="'rouge'">
                <p class= red-square><ul *ngFor = "let t of pokemon.talent">{{t}}</ul>
            </div>
            <div *ngSwitchCaseDefault>erreur affichage carré</div>
        </div>   

    </div>

    <div *ngSwitchCase="'taille'">

        <div [ngSwitch]="couleur">
            <div *ngSwitchCase="'vert'">
                <p class= green-square>{{pokemon.taille}}</p>
            </div>
            <div *ngSwitchCase="'orange'">
                <p class= orange-square>{{pokemon.taille}}</p>
            </div>
            <div *ngSwitchCase="'rouge'">
                <p class= red-square>{{pokemon.taille}}</p>
            </div>
            <div *ngSwitchCaseDefault>erreur affichage carré</div>
        </div>   

    </div>

    <div *ngSwitchCase="'poids'">

        <div [ngSwitch]="couleur">
            <div *ngSwitchCase="'vert'">
                <p class= green-square>{{pokemon.poids}}</p>
            </div>
            <div *ngSwitchCase="'orange'">
                <p class= orange-square>{{pokemon.poids}}</p>
            </div>
            <div *ngSwitchCase="'rouge'">
                <p class= red-square>{{pokemon.poids}}</p>
            </div>
            <div *ngSwitchCaseDefault>erreur affichage carré</div>
        </div>   

    </div>

    <div *ngSwitchCaseDefault>erreur affichage colonne</div>
</div>






