table {
    width : 100% ;
    color : #191919 ;
    text-align: center;
    background-color: #E94B4D;
  }
  
th{
    width : 13% ;
    min-width: 120px;
    height: 120px;
    text-align: center;
    border : 1px solid #191919 ;
    text-align: center;
	vertical-align: center;
}

.green-square {
    background-color: #9fda96;
}

.red-square {
    background: #E94B4D; 

}

.orange-square {
    background: #FF9557; /*sets the background of this element (here a solid colour)*/
}

th img{
    max-height: 90px;
}

#pkmn p {
    margin-top: 0px;
    min-width: 120px;
    text-align: center;
    
}

ul {
    color: #191919;
    margin: auto;
    margin-left: -30px;
}
