<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
  
    <!-- Mettre un div avec l'id page-content-wrapper pour que la page s'adapte à la sidebar-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        
        <button class="btn btn-primary" id="buttonApi" onClick="call()">Call API</button>
        <app-logo></app-logo>
        <!-- Page content-->
        <div class="container-fluid">
            <div class="content">
            <app-sidebar></app-sidebar>
  
            <br><br>
            <p>Devinez l'objet !</p>
            <app-ligne-de-reponse (poke)="search($event)"></app-ligne-de-reponse>
            <br><br>
    
            <table>
                <th>Objet</th>
                <th>Coût </th>
                <th>Dégommage</th>
                <th>Tenu</th>
                <th>Catégorie</th>
                <th>Génération</th>
            </table>
            <app-tab-reponse typedonnees="obj" pokemonid="3" ></app-tab-reponse>
            <app-tab-reponse typedonnees="obj" pokemonid="2" ></app-tab-reponse>
            <app-tab-reponse typedonnees="obj" pokemonid="1" ></app-tab-reponse>
            <br><br><br><br><br><br><br><br><br><br><br>
        </div>
        </div>
    </div>
  </div>
  
  <router-outlet />
  