/* Styles globaux */
:root {
  --light-body-background-color: #EBE6DA;
  --light-text-color: #191919;

  --dark-body-background-color: #191919;
  --dark-text-color: #EBE6DA;
}

/* Autres styles globaux */
body {
  background-image: url('/assets/Fond_191919.png');
  background-size: contain;
  color: var(--text-color);
}

.light-theme {
  --body-background-color: var(--light-body-background-color);
  --text-color: var(--light-text-color);
}

.dark-theme {
  --body-background-color: var(--dark-body-background-color);
  --text-color: var(--dark-text-color);
}
