<div class="d-flex" id="wrapper">
  <!-- Sidebar-->

  <!-- Mettre un div avec l'id page-content-wrapper pour que la page s'adapte à la sidebar-->
  <div id="page-content-wrapper">
      <!-- Top navigation-->

      <app-logo></app-logo>
      <!-- Page content-->
      <div class="container-fluid">
        
        <div class="content">

          <!--Menu horizontal-->
          <app-sidebar></app-sidebar>

          <!--Barre de recherche-->
          <br><br>
          <p>Devinez le Pokémon !</p>
          <app-ligne-de-reponse (poke)="search($event)"></app-ligne-de-reponse>
          


          <div *ngIf="gagne">
            <p>Vous avez deviné !!</p>
          </div>
          <div *ngIf="perdu">
            <p>Vous avez perdu... <br>Le Pokémon était {{toFind}}.</p>
          </div>
          <div *ngIf="!perdu && !gagne">
            <p>Il vous reste {{7 - nbGuess}} essais.</p>
          </div>
          
          <br><br>
          <!--Entête tableau-->
          <table>
            <th>Pokémon </th>
            <th>Types</th>
            <th>Génération</th>
            <th>Stade d'évolution</th>
            <th>Talents</th>
            <th>Taille</th>
            <th>Poids</th>
          </table>

          <!--Affichage du tableau-->
          <div *ngFor="let id of listeId">
              <app-tab-reponse typedonnees="pkmn" pokemonid={{id}}></app-tab-reponse>
          </div>
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
      </div>
    </div>
  </div>
</div>

<router-outlet />